 .light{
    --clr-bg: rgb(237, 244, 252);
    --clr-bg-alt: #fff;
    --clr-bg-header: #ece9de;
    --clr-border: rgb(212, 212, 212);    
    --clr-on-hover: #005ba2;
    --clr-fg: #555;
    --clr-bg-search: rgb(151, 151, 151);
    --clr-bg-input: #f0f2f5;       
    --clr-text: rgb(66, 66, 66);
    --clr-primary: #1481d4;
    --clr-white: rgb(206, 206, 206);
    --clr-red: rgb(255, 48, 48);
    --clr-active-page: #4ca3e6;
    --clr-logo: #35c040;

    --clr-text2: rgb(82, 82, 82);
  }
  
  .dark{
    --clr-bg: #252525;
    --clr-bg-alt: #444444;
    --clr-bg-header: #696666;
   --clr-border: #1a1a1a;  
   --clr-on-hover: #252525;
   --clr-bg-search: rgb(15, 15, 15);
   --clr-bg-input: #494949;
   --clr-text: rgb(170, 170, 170);
   --clr-primary: #aaacb4;
   --clr-white: rgb(228, 228, 228);
   --clr-fg: #bdbddd;
   --clr-red: rgb(40, 44, 248);
   --clr-active-page: #2895e7;
   --clr-logo: #0a4d10;   
   --clr-text2: rgb(228, 228, 228);
    }
 
  
 