.navigation_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;

    height: 62px;
    width: 100%;
    top: 0;

    background-color: var(--clr-bg-header);

    z-index: 10;
}

.logo {
    font-size: 40px;
    color: var(--clr-logo);
    cursor: pointer;
    font-family: "Protest Guerrilla", sans-serif;
    height: fit-content;
    margin: 10px 0 0 40px;
}

.cart_div {
    margin: 10px 40px;
    height: fit-content;
    cursor: pointer;
    color: var(--clr-fg);
}

.cart_div:hover {
    opacity: .8;
}

.basket_amount {
    position: absolute;
    top: 8px;
    right: 36px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--clr-red);
    color: white;
    font-size: 18px;
    text-align: center;
}